.hidden {
	display: none !important;
}

#sync-qr-code {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
}
#sync-qr-code > img {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#qr-camera-scanner {
	width: 100%;
}
#qr-camera-scanner > video {
	width: 100%;
}

/* sweetalert styling */
.swal2-container {
	box-sizing: content-box !important;
}
.prompt-popup .swal2-html-container {
	overflow: hidden !important;
	text-align: left;
}
.toast-popup .swal2-html-container {
	white-space: nowrap;
}
body.swal2-shown > [aria-hidden="true"] {
	transition: 0.1s filter;
	filter: blur(10px);
}
